name: Publish common Package to npmjs
on:
  release:
    types: [published]
jobs:
  build:
    environment: npm
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest
      # Publish common package
      - run: npm ci
        working-directory: ./prisma-filter-common
      - run: npm publish --access public
        working-directory: ./prisma-filter-common
